# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Django
db.sqlite3
media/
staticfiles/
*.log

# ML Models (large files — use Git LFS or share separately)
ml_models/*.h5
ml_models/*.keras


# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# User Uploads
media/